.quote {
  background-color: #162b2b;
  color: white;
  border-radius: 6px;
  padding: 3rem;
  margin: 3rem auto;
  width: 100%;
  max-width: 40rem;
}

.quote p {
  font-size: clamp(1.5rem, 5vw + 0.3rem, 2.5rem);
}

.quote figcaption {
  font-style: italic;
  font-size: clamp(0.8rem, 3vw + 0.3rem, 1.5rem);
  text-align: right;
  color: #a1e0e0;
}
